body {
  background-image: url("bg-web.jpg");
  background-size: 100% 100%;
}

h1{
  padding-left: 20px; 
  position: absolute;
  display: block;
  font-family: "Courier";
  font-size: 55px;
  font-style: bold;
  color : white;
}

img.bg1{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 20px;
  width: 896px;
  height: 596px;
}

img.chiva{
  width: 350px;
  height: 350px;
  position: relative;
  display: inline-block;
  margin-top: -400px;
  margin-left: 305px;
}

img.chiva:hover{
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

img.chiva:hover+span{
  position: absolute;
  display: inline-block;
  margin-left: 20px;
  top: 50px;
  opacity: 10;
}

img.biografi{
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  margin-top: -565px;
  margin-left: 866px;
}

img.biografi:hover{
  position: relative;
  display: inline-block;
   -webkit-filter: grayscale(50%);
}

img.resume{
  width: 160px;
  height: 160px;
  position: relative;
  display: inline-block;
  margin-top: -185px;
  margin-left: 860px;
}

img.resume:hover{
  position: relative;
  display: inline-block;
   -webkit-filter: grayscale(50%);
}

img.home{
  width: 110px;
  height: 250px;
  position: relative;
  display: inline-block;
  margin-top: 330px;
  margin-left: 1200px;
}

img.home:hover{
  position: relative;
  display: inline-block;
   -webkit-filter: grayscale(50%);
}

h1.bio{
  position: absolute;
  text-decoration: underline overline;
  display: inline-block;
  margin-top: 85px;
  margin-left: 310px;
  color:black;
  z-index: 100;
}

img.bgbio{
  margin-top: -240px;
  margin-left: 100px;
  width: 900px;
  height: 810px;
  position: absolute;
}

.desbio{
  position: absolute;
  font-size: 19px;
  z-index: 100;
  width: 850px;
  text-align: justify;
  font-style: oblique;
  font-family: Georgia;
  margin-top: -450px;
  margin-left: 120px;
}

img.edu{
  margin-top: -110px;
  width: 280px;
  height: 590px;
  position: absolute;
}

img.skill{
  margin-top: -110px;
  margin-left: 580px;
  width: 280px;
  height: 590px;
  position: absolute;
}

img.act{
  margin-top: 40px;
  margin-left: 870px;
  width: 280px;
  height: 590px;
  position: absolute;
}

img.ex{
  margin-top: 40px;
  margin-left: 290px;
  width: 280px;
  height: 590px;
  position: absolute;
}

h2.edu{
  position: absolute;
  text-decoration: underline overline;
  display: inline-block;
  color:black;
  z-index: 100;
  margin-left:60px;
  margin-top: 90px;
}

p.edu{
  position: absolute;
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-top: 150px;
  margin-left: 25px;
  z-index: 100;
  text-align: justify;
}

h2.ex{
  position: absolute;
  text-decoration: underline overline;
  display: inline-block;
  color:black;
  z-index: 100;
  margin-top: 400px;
  margin-left: 350px;
}

p.ex{
  position: absolute;
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-top: 150px;
  margin-left: 330px;
  z-index: 100;
  text-align: justify;
}

h2.skills{
  position: absolute;
  text-decoration: underline overline;
  display: inline-block;
  color:black;
  z-index: 100;
  margin-top: 90px;
  margin-left: 670px;
}

p.skills{
  position: absolute;
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-top: 150px;
  margin-left: 640px;
  z-index: 100;
  text-align: justify;
}

h2.act{
  position: absolute;
  text-decoration: underline overline;
  display: inline-block;
  color:black;
  z-index: 100;
  margin-left:950px;
  margin-top: 400px;
}

p.act{
  position: absolute;
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-top: 150px;
  margin-left: 930px;
  z-index: 100;
  text-align: justify;
}

span{
  position: absolute;
  bottom: 1020px;
  left: 0;
  z-index: -1;
  display: block;
  color: black;
  font-family: "Courier";
  font-size: 45px;
  font-weight: bold;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  opacity: 0;
}